/*
 author: Josélio Júnior (Lunatic Fox) <joseliojrx25@gmail.com>
 copyright: Josélio Júnior (Lunatic Fox) - 2022
 license: MIT
*/

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
