/*
 author: Josélio Júnior (Lunatic Fox) <joseliojrx25@gmail.com>
 copyright: Josélio Júnior (Lunatic Fox) - 2022
 license: MIT
*/

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  opacity: 0;
  animation: delay 0s ease-in .3s 1 normal forwards;
}

@keyframes delay {
  to { opacity: 1 }
}

.wrapper { transition: var(--trs) }

.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.githubIcon { fill: var(--fg1) }
